:root {
  --header-color: #212121;
  --text-color: #757575;
  --text-header: #ffffff;
  --accent-color: #2196f3;
  --primarybackground: #f5f5f5;
  --secondary-background: #f5f4fa;
  --additional-background: #2f303a;
  --ligo-black: #000000;
}

.page {
  background-color: #f5f5f5;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Heder */

header .logo {
  color: #000000;
}

footer .logo {
  color: #ffffff;
}

.web {
  color: #2196f3;
}

.logo:hover,
.logo:focus {
  color: #2196f3;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* цвет всех заголовков color: #212121 */
/* вторичный цвет color: #757575 */
/* цвет шапки color: #FFFFFF */
/* акцент color: #2196F3 */
/* цвет фона color: #F5F5F5 */
/* вторичный цвет фона color: #F5F4FA */
/* фон героя и футера color: #2F303A */
/* цвет лого color: #000000; color: #2196F3 */
